{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    {{/*  <div class="col-lg-100 text-center">  */}}
    <div class="text-center" style="width: 75%; margin: 0 auto;">
      {{/*  <h1>{{ .Title }}</h1>  */}}
      <h1>{{ i18n "title_site" }}</h1>
      <h4>{{ i18n "subtitle_site" }}</h4>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="https://zenodo.org/communities/iramat" role="button">{{ i18n "go_zenodo" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2 class="h4">Projet presentation</h2>
          <p>The circulation of gold from sub-Saharan Africa to the shores of the Mediterranean has received particular attention from medievalists historians. Written sources, in particular the texts of Arab geographers, bear witness to the wealth of regions from which the gold used in Arabic coinage was from. However, it is difficult to estimate the extent of this use. <a href="{{ "presentation" | relLangURL }}" class="btn btn-link">Read more...</a></p>
        </div>
        <div class="col-lg-4">
          <h2 class="h4">ALMACIR DB</h2>
          <p>Use the <a href="{{ "docs" | relLangURL }}">database</a> to find and export numismatic data<br><strong>{{ site.Data.db_data.nb_analysed_objects }}</strong> objects analyzed</p></p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "Français" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2 class="h4">Présentation du projet</h2>
          <p>La circulation de l’or subsaharien vers les rives de la Méditerranée a fait l’objet d’une attention particulière de la part des historiens médiévistes. Les sources écrites, notamment les textes des géographes arabes, témoignent de la richesse de régions d’où proviendrait l’or utilisé pour les monnayages arabo-musulmans. <a href="{{ "presentation" | relLangURL }}" class="btn btn-link">Lire la suite...</a></p>
        </div>
        <div class="col-lg-4">
          <h2 class="h4">BDD ALMACIR</h2>
          <p>Utilisez la <a href="{{ "docs" | relLangURL }}">base de données</a> pour trouver et exporter des données numismatiques.<br> <strong>{{ site.Data.db_data.nb_analysed_objects }}</strong> objets analysés</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "Arabe" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">قاعدة بيانات ALMACIR</h2>
          <p>استخدم قاعدة البيانات للبحث عن البيانات النقدية وتصديرها</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
