.docs-content {
  max-width: 1500px; /* or any width you prefer */
  margin-left: auto;
  margin-right: auto;
}

/* Custom logo sizing */
.site-logo {
  height: 40px;
  width: auto;
  vertical-align: middle;
}
