// Put your custom SCSS code here
.docs-content {
  max-width: 1000px; /* or any width you prefer */
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  height: 40px !important;
  width: auto !important;
  vertical-align: middle;
}

.site-logo-1 {
  height: 50px !important;
  width: 50px !important;
  vertical-align: middle;
}


